<manifest package="org.totschnig.myexpenses"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:hardwareAccelerated="true">
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.rhythmone.ad.sdk.RhythmOneAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="RhythmOneAdActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
