<manifest xmlns:tools="http://schemas.android.com/tools"
          package="org.totschnig.myexpenses"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>
