<manifest package="org.totschnig.myexpenses"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".activity.DeepLinkActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.myexpenses.mobi"
                    android:path="/callback2.html"
                    android:scheme="https"/>

                <data
                    android:host="www.myexpenses.mobi"
                    android:path="/callback.html"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
